<!-- banner -->

<section id="section05" class="demo banner" style="background-image: linear-gradient(-225deg, rgba(250,250,250,0.2) 0%, rgba(250,250,250,0.2) 50%), url(<%= image_path "cover.jpg" %>);">
  <div class="banner-content">
    <h1 data-aos="fade-up"
     data-aos-duration="1000" data-aos-once="true"><b class="blue">GO</b> <b class="yellow">SIMPLE !</b></h1>
    <p data-aos="fade-up"
     data-aos-duration="600" data-aos-delay="400" data-aos-once="true"> <span class="blue">Conseil - Accompagnement - Coaching
     </span></p>
  </div>
    <a ><span></span></a>
</section>

<!-- qui suis-je -->

<div class="qui-suis-je container-fluid bg-yellow">
  <h2 data-aos='fade-up' data-aos-duration='400' data-aos-once='true' class="header text-center blue">QUI SUIS-JE ?</h2>
  <div data-aos='fade-right' data-aos-duration='400' data-aos-delay='200' data-aos-once='true' class="row equal">
    <div  class="col-xs-12 col-md-4 align-content-center">
      <div class="resume d-flex flex-column align-items-center padding text-center mb-5">
        <%= image_tag "isabelle.jpg", class:"circle" %>
        <p class="blue"><b>Isabelle Stevenson</b></p>
        <p><em>Certifiée outil personnalité MBTI et
        Outil Interêts Professionnels Strong </em></p>
        <p><em>Diplômée Skema Lille</em></p>
        <p><% link_to "https://www.linkedin.com/in/isabelle-stevenson-a7a2642a/", target: :blank do %>
          <i class="fab fa-linkedin"></i>
        <% end %>
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="speech-bubble padding bg-white mb-5">
        <p><i class="fas fa-quote-left mr-5 blue" style="font-size: 35px"></i>Après 10 ans dans le conseil en Marketing et en Communication dans de grands groupes, j’ai souhaité être plus en lien avec mes valeurs et donner plus de sens à mon travail en m’orientant sur la formation et le Conseil en Développement Personnel.</p>
        <p>J’ai commencé par accompagner pendant 5 ans des enfants de maternelle et des collégiens en difficulté d’apprentissage avec une pédagogie personnalisée et créative, la méthode Montessori dont j'ai moi-même bénéficié à l'école. </p>
        <p>Puis, j’ai été Conseillère en orientation Carrière pendant 9 ans au sein des 4 écoles de commerce de Rouen Business School. Dans ce cadre j’ai réalisé plus de 1 000 entretiens individuels avec des étudiants et je les ai guidés dans la construction de leur projet professionnel en phase avec leur  personnalité et leur motivation. Je les ai conseillés aussi en tant que professeur en leur donnant des cours sur les outils de communication (CV - lettres de motivation - techniques d’entretien - speed recruiting - technique du net working) afin que leur candidature soit « unique » et révélatrice de leurs talents. J’ai aussi participé en tant que jury en binôme avec des professionnels à plus de 60 journées d’entretiens de motivation. </p>
        <p>Je poursuis mon métier, à présent, avec toujours autant de passion en coachant des lycéens, des étudiants, de jeunes adultes et des adultes expérimentés et en cheminant avec eux dans la confiance d’une manière proactive, participative et constructive.</p>
        <p>« <em>Deviens ce que tu es</em> » est la devise qui me tient à cœur dans mon métier de Conseillère en Développement Personnel <b class="blue">GO </b><b class="yellow">SIMPLE !</b><i class="fas fa-quote-right ml-5 blue" style="font-size: 35px"></i></p>
      </div>
    </div>
  </div>
</div>

<!-- Accompagnements -->

<div class="container-fluid bg-white">
  <h2 data-aos='fade-up' data-aos-duration='400' data-aos-once='true' class="header text-center blue">LES ACCOMPAGNEMENTS <b class="blue">GO</b> <b class="yellow">SIMPLE !</b></h2>
  <h4 data-aos='fade-up' data-aos-duration='400' data-aos-once='true' class="text-center pale-blue mb-5">Conseil - Accompagnement - Coaching</h4>
  <div data-aos='fade-right' data-aos-duration='400' data-aos-delay='200' data-aos-once='true' id="myTab">
    <ul class="nav nav-pills mb-5 ">
      <li class="active">
        <a  href="#1b" data-toggle="tab">Construire mon projet d'avenir</a>
      </li>
      <li><a href="#2b" data-toggle="tab">Rechercher un emploi - stage - apprentissage</a>
      </li>
      <li><a href="#3b" data-toggle="tab">Préparer entretiens de motivation et dossiers de candidature</a>
      </li>
      <li><a href="#4b" data-toggle="tab">Entretien ponctuel</a>
      </li>
    </ul>

    <div class="tab-content clearfix">
      <div data-aos='fade-right' data-aos-duration='400' data-aos-delay='400' data-aos-once='true'class="tab-pane active accompagnement-sous-partie-first" id="1b">
        <h3 class="sous-titre blue">Construire mon projet d'avenir</h3>
        <div class="row equal">
          <div class="col-xs-12 col-md-6">
            <h4 class="sous-sous-titre">Pour les lycéens, étudiants et adultes en phase de transition</h4>
            <p class="decalage-gauche">Pour me projeter sur mon avenir et faire de bons choix en phase avec mes motivations et mes aspirations, il est nécessaire de bien me connaitre :</p>
            <ul>
              <li><p>Mes valeurs qui constituent le socle de mes choix de vie</p></li>
              <li><p>Bilan de mes expériences pour faire émerger mes compétences, mes talents et mes points forts</p></li>
              <li><p>Comment suis-je perçu par mon entourage ?</p></li>
              <li><p>Ma personnalité</p></li>
              <li><p>Mes intérêts professionnels sur la base de 260 métiers</p></li>
              <li><p>Recherche de métiers </p></li>
              <li><p>Elaboration de mon projet d’avenir en phase avec ma personnalité</p></li>
              <li><p>Choix de mon parcours d’orientation d’études, de filières ou de spécialisation </p></li>
            </ul>
            <div class="citation my-5">
              <p class="text-center">« <em>Avance sur ta route car elle n’existe que par ta marche</em> »</p>
              <p class="text-center">St Augustin</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= image_tag "mountain.jpg", class:"accompagnement-image d-flex justify-content-center align-items-center" %>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="2b">
        <div class="accompagnement-sous-partie-first">
          <h3 class="sous-titre blue">Rechercher un emploi, un stage de fin d’études ou une mission d’apprentissage</h3>
          <div class="row equal">
            <div class="col-xs-12 col-md-6">
              <h4 class="sous-sous-titre">Pour les étudiants et les adultes</h4>
              <ul>
                <li><p>Construction de mon projet professionnel</p></li>
                <li><p>Mise en place d’une méthodologie et d’un plan d’action pour mes recherches</p></li>
                <li><p>Elaboration de mon CV et de mes lettres de motivation afin qu’ils soient efficaces tout en reflétant ma personnalité </p></li>
                <li><p>Techniques d’expression orale</p></li>
                <li><p>Simulation et techniques d’entretien pour gagner en confiance et « oser »</p></li>
                <li><p>Aide à l’élaboration de mon « pitch » pour présenter le meilleur de moi-même en quelques minutes et être « unique »</p></li>
                <li><p>Techniques du réseau</p></li>
                <li><p>Ma présence, ma visibilité et ma réputation sur les réseaux sociaux</p></li>
                <li><p>Suivi du plan d’action et retours d’expérience</p></li>
              </ul>
              <div class="citation my-5">
                <p>« <em>Ce n’est pas parce que les choses sont difficiles que nous n’osons pas, mais parce que nous n’osons pas qu’elles sont difficiles »</em></p>
                <p>Sénèque</p>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <%= image_tag "freedom.jpg", class:"accompagnement-image d-flex justify-content-center align-items-center" %>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="3b">
        <div class="accompagnement-sous-partie-first">
          <h3 class="sous-titre blue">Préparer mes entretiens de motivation et mes dossiers de candidature en cours de scolarité, post-bac, post-prépa, admission parallèle</h3>
          <div class="row equal">
            <div class="col-xs-12 col-md-6">
              <h4 class="sous-sous-titre">Pour les lycéens et les étudiants</h4>
              <ul>
                <li><p>Construction de mon projet professionnel</p></li>
                <li><p>Elaboration de mon CV et de mes lettres de motivation afin qu’ils soient efficaces tout en reflétant ma personnalité</p></li>
                <li><p>Techniques d’expression orale</p></li>
                <li><p>Simulation d’entretien et techniques d’entretien pour m’aider à gagner en confiance et « oser » pour faire la différence</p></li>
                <li><p>Aide à l’élaboration de mon « pitch » pour présenter le meilleur de moi-même en quelques minutes et être « unique »</p></li>
                <li><p>Accompagnement sur le site Parcoursup</p></li>
              </ul>
              <div class="citation my-5">
                <p>« <em>Mes meilleures improvisations sont celles que j’ai le plus longuement préparées</em> »</p>
                <p>Churchill</p>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <%= image_tag "desert.jpg", class:"accompagnement-image d-flex justify-content-center align-items-center" %>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="4b">
        <div class="accompagnement-sous-partie-first">
          <h3 class="sous-titre blue">Entretien ponctuel 2 heures</h3>
          <div class="row equal">
            <div class="col-xs-12 col-md-6">
              <h4 class="sous-sous-titre">Pour les lycéens, les étudiants et les adultes à tout moment de leurs études ou de leur parcours</h4>
              <div class="padding text-center m-0">
                <p>Je me pose des questions...</p>
                <p>Je doute...</p>
                <p>Mon projet n’est pas clair...</p>
                <p>J’ai du mal à avancer...</p>
                <p>Je suis bloqué dans mes projets...</p>
              </div>
              <p class="decalage-gauche">Et donc je souhaite des conseils d’une professionnelle pendant 2 heures afin d’avoir à l’issue de mon entretien une meilleure visibilité sur l’avenir et une ébauche de plan d’action</p>
              <div class="citation my-5">
                <p>« <em>Il n’est pas de vent favorable pour celui qui ne sait où il va</em> »</p>
                <p>Sénèque</p>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <%= image_tag "boats.jpg", class:"accompagnement-image d-flex justify-content-center align-items-center" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Tarifs -->

<div class="container-fluid bg-yellow">
  <h2 data-aos='fade-up' data-aos-duration='400' data-aos-once='true' class="header text-center blue ">TARIFS </h2>
  <div class="row">
    <div class="col-xs-12 col-sm-6 d-flex justify-content-center">
      <div data-aos='flip-left' data-aos-delay="200" data-aos-duration='800' data-aos-once='true' class="card-tarif bg-white mb-5 d-flex flex-column align-items-center justify-content-center text-center ">
        <h3 class="tarif-font blue">Conseil - Accompagnement - Coaching </h3>
        <h3 class="tarif-font blue">70 € / séance</h3> 
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 d-flex justify-content-center">
      <div data-aos='flip-left' data-aos-delay="400" data-aos-duration='800' data-aos-once='true' class="card-tarif bg-white mb-5 d-flex flex-column align-items-center justify-content-center text-center ">
        <h3 class="tarif-font blue">Entretien ponctuel 2 heures</h3>
        <h3 class="tarif-font blue">140 €</h3>
      </div>
    </div>
  </div>
</div>

<!-- Contact -->

<div class="container-fluid bg-white">
  <div class="sous-container">
    <h2 data-aos='fade-up' data-aos-duration='400' data-aos-once='true' class="header text-center blue">CONTACTEZ <span class="yellow">MOI !</span></h2>
    <div data-aos='fade-right' data-aos-duration='400' data-aos-delay='200' data-aos-once='true'>
      <p class="px-6 mb-5">Je vous propose un accompagnement avec  de l’écoute et du  discernement pour vous aider à trouver  dans la confiance  les clefs de vos interrogations.</p>
      <div class="my-6 card margin-mobile bg-yellow d-flex flex-column align-items-center justify-content-center text-white">
        <p><b class="blue">GO SIMPLE !</b></p>
        <p><b>Isabelle Stevenson</b></p>
        <p><b>15 Passage Lambard</b></p>
        <p><b>76130 MT ST AIGNAN</b></p>
        <p><b class="blue">gosimple@orange.fr</b></p>
        <p><b class="blue">06 58 47 10 46</b></p>
      </div>
      <div class="citation my-5 px-6">
        <p class="text-center">« <em>N'attends pas que les évènements arrivent comme tu le souhaites.</em></p>
        <p class="text-center"><em>Décide de vouloir ce qui t’arrive et tu seras heureux</em> »</p>
        <p class="text-center">Epictète</p>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->

<div class="footer" style="background-image: linear-gradient(-225deg, rgba(250,250,250,0.2) 0%, rgba(250,250,250,0.2) 50%), url(<%= image_path "cover.jpg" %>);">
  <div class="actus">
    <%= link_to "Voir mes actualités", "/", class:"btn btn-primary"  %>
  </div>
  <div class="footer-copyright text-center">
    <p>Ce site a été fait avec <i class="fa fa-heart"></i> par <%= link_to "Nicolas Vandenbussche", "https://www.linkedin.com/in/nicolas-vandenbussche-26129244/", target: :blank  %></p>
  </div>
</div>
